<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Menu</h1>
     
     <ul>
        <h2>Admin Modules</h2>
        <a href="/" > <li>Add Candidate</li></a>
        <a href="/report"><li>Report</li ></a>
    </ul>  
    <ul>
        <h2>User Modules</h2>
       <a href="/users/"> <li>Voting</li></a>
        
    </ul>   
  </body>
</html>
